* {
    margin: 0px; 
    padding: 0px;
}



#headerContainer { display: flex;
    justify-content: space-between; 
    margin: 0px;
    background-color: #262626;
    height: 120px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px #000000;
    z-index: 10;
    }
    
    nav h1 { color: #D9B344; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    cursor: pointer;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    }
    
    .iconsearchContainer { height: 35px;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #262626;
    width: 35px;
    background-image: url("../images/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .iconsearchContainer:hover { transform: rotate(-45deg);
    }
    
    .searchform {
        border: 1px solid #FFC91B;
        margin-left: 0px;
        margin-right: 0px;
        width: 200px;
        height: 35px;
        margin: 10px;
        color: #D9B344;
        text-align: center !important;
        display: none;
        align-items: center;
        justify-content: flex-end;
    }
    
    #formCloser {
        border: 1px solid #FFC91B;
        width: 35px;
        height: 35px;
        background-color: #FFC91B;
        margin-left: 50px;
        margin-right: 0px !important;
        background-image: url("../images/closer.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        transition: 0.3s;
    }
    
    #formCloser:hover {
        background-color: #575757;
        border: 1px solid #575757;
    }
    

    .sectionContents { display: flex;
        justify-content: space-evenly;
        margin: 25px;
        background-color: #262626;
        margin-top: 50px;
     }
    
    
    #projectStackedcards { display: flex;
    height: 400px;
    width: 400px;
    color: black; 
    justify-content: center;
    align-items: center;}
    
    #separatorLine { display: flex;
        height: 450px;
        width: 10px;
        outline: 2px solid black;
        margin: 25px;
        background-color: black;
    }
    
    #logoImage { display: flex;
        height: 400px;
        width: 280px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/sodiqbello.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
     }
    
     .buttonContainer { display: flex; 
    outline: 4px solid #D9B344;
    height: 30px;
    width: 250px;
    padding: 15px;
    margin-left: 250px;
    margin-top: 3px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: #262626;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .buttonContainer:hover { background-color: #D9B344;
        color: black;
    
    }
    
    .Project { color: white; }
    
    .Project:hover {
        color: black;
    }
    
    #footerContainer { display: flex;
        justify-content: center; 
        margin: 0px;
        height: 120px;
        align-items: center;
    background-color: #262626;
     }
    
     .instagram { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/editinsta.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s; 
    }
    
    .instagram:hover { 
        background-image: url("../images/instagram\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer; 
     }
    
    
    .linkedIn { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/Edit\ linkedin.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px; 
    cursor: pointer;
    transition: 0.3s;
     }
    
    .linkedIn:hover { 
        background-image: url("../images/Linking\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer;
     }
    
    .gitHub { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/github.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .gitHub:hover { 
        background-image: url("../images/github\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer;
     }
    
    .email { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/editemail.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
     }
    
    .email:hover { 
        background-image: url("../images/Email\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer;
    }
    
    
    body { background-color: #262626; }
    
    .cardcof { display: flex;
    width: 200px;
    height: 300px;
    outline: 2px solid darkgreen;
    border-radius: 40px;
    transform: rotate(35deg); 
    position: absolute;
    background-image: url("../images/cof.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;}
    
    .carddol { display: flex;
        width: 200px;
        height: 300px;
        outline: 2px solid darkblue;
        border-radius: 40px;
        transform: rotate(-45deg); 
    position: absolute;
    background-image:url("../images/dol.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;}
    
    
    .cardskz { display: flex;
        width: 200px;
        height: 300px;
        outline: 2px solid orange;
        border-radius: 40px;
        position: absolute;
        /**transform: rotate(45deg);**/ 
        background-image: url("../images/skilz.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    justify-self: center;
    }
    
    
    .Projectcard { display: flex;
    color: black;
    size: 10px; }


    @media only screen and (max-width: 720px) {

        .sectionContents { 
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content:space-between;
        }

        #separatorLine { 
            display: flex;
            flex-direction: column;
            transform: rotate(90deg);
        }

        .buttonContainer { 
            display: flex; 
            margin-left: 200px;
            margin-top: 3px;
            margin-bottom: 30px;
        }

        #projectStackedcards { 

            margin: 0px;

        }
        #separatorLine { 

            margin: 20px;

        }   
        
        #logoImage { 

            margin: 0px;

        } 
    
         
     }
    
