* {
    margin: 0px; 
    padding: 0px;
}

a {
    color: #D9B344;
    text-decoration: none;
    text-decoration-line: none;

}


#headerContainer { display: flex;
    justify-content: space-between; 
    margin: 0px;
    background-color: #262626;
    height: 120px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px #000000;
    position: sticky !important;
    z-index: 15;
}
    
nav h1 { color: #D9B344; 
    margin: 10px;
    cursor: pointer;
    height: 90px;
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    }

    .homePagelogo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .burgerIcon {
        background-image: url("../images/Burger\ icon\ interactive.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 35px;
    width: 50px;
    /**outline: 1px solid red;**/
    margin-left: 40px;
    display: none;

    }


    
    .iconsearchContainer { height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
    }

    #searchIcon { height: 35px;
        display: flex;
        align-items: center;
        margin: 10px;
        background-color: #262626;
        width: 35px;
        background-image: url("../images/search.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        transition: 0.3s;
        }


#searchIcon:hover { transform: rotate(-45deg);
    
   }

#searchform {
    border: 1px solid #FFC91B;
    margin-left: 0px;
    margin-right: 0px;
    width: 200px;
    height: 35px;
    margin: 10px;
    color: #D9B344;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

div[contenteditable="true"]{
    border: 1px solid #FFC91B !important;
    width: 100% !important;
    height: 100%;
    position: relative;
    color: #D9B344;
    text-align: center !important;
    display: none;
    align-items: center;
    justify-content: flex-end;

}


#formCloser {
    border: 1px solid #FFC91B;
    width: 35px;
    height: 35px;
    background-color: #FFC91B;
    position: relative;
    margin-left: 50px;
    margin-right: 0px !important;
    background-image: url("../images/closer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    transition: 0.3s;
}

#formCloser:hover {
    background-color: #575757;
    border: 1px solid #575757;
}



/**#searchIcon:hover { transform: translateX(40);
outline: ; }**/

/**Primary nav styling**/

.primaryNav { display: none;
    justify-content: space-evenly;
    align-items: center;
}

#project { display: inline;
    height: 55px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
text-align: center;
}

#project img:hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

#about { display: inline;
    height: 55px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
text-align: center;
}

#about img:hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

#resume { display: inline;
    height: 55px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
text-align: center;
}

#resume img :hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

#contact { display: inline;
    height: 55px;
width: 120px;
position: relative;
/**outline: 2px solid red;**/
margin: 20px;
padding: 5px;
background-color: #262626;
color: #FFC91B;
font-weight: 400;
transition: 0.3s;
text-align: center;
}

#contact img:hover { 
    transition: 0.3s;
    transform: rotate(180deg);
    background-color: #575757;
    color: #F2F2F2;
}

ul {

list-style-type: none;
margin:0;
padding: 0;
}
/**navChilds**/

.navChildburger { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 40px; 
 }

.navChildburger li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}


 .navChildproject { 
     display: none;
     background-color: #575757;
     position:relative;
     /**outline: 2px solid red;**/
     width: 250px;
     height: fit-content;
     margin-top: 25px; 
  }

.navChildproject li { 
    margin: 0;
    padding: 15px;
    border: 1px solid #000000;
}

.navChildabout { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 25px; 
 }

.navChildabout li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}

.navChildresume { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 25px; 
 }

.navChildresume li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}

.navChildcontact { 
    display: none;
    background-color: #575757;
    position:relative;
    /**outline: 2px solid red;**/
    width: 250px;
    height: fit-content;
    margin-top: 25px; 
 }

.navChildcontact li { 
   margin: 0;
   padding: 15px;
   border: 1px solid #000000;
}


#about:hover { background-color: #575757;
    color: #F2F2F2; }

#resume:hover { background-color: #575757;
    color: #F2F2F2; }

#contact:hover { background-color: #575757;
        color: #F2F2F2; }
        
#project:hover { background-color: #575757;
            color: #F2F2F2; }

    

    .sectionContents { display: flex;
        justify-content: space-evenly;
        margin: 25px;
        background-color: #262626;
        margin-top: 50px;
        width: 100%;
     }
    
    
    #projectStackedcards { display: flex;
    height: 400px;
    width: 400px;
    color: black; 
    justify-content: center;
    align-items: center;}
    
    #separatorLine { display: flex;
        height: 450px;
        width: 10px;
        outline: 2px solid black;
        margin: 25px;
        background-color: black;
    }
    
    #logoImage { display: flex;
        height: 400px;
        width: 280px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/sodiqbello.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
     }
    
     .buttonContainer { display: flex; 
    outline: 2px solid #D9B344;
    height: 30px;
    width: 250px;
    padding: 15px;
    margin-left: 250px;
    margin-top: 3px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: #262626;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .buttonContainer:hover { background-color: #D9B344;
        color: black;
    
    }
    
    .Project { color: white; }
    
    .Project:hover {
        color: black;
    }
    
    #footerContainer { display: flex;
        justify-content: center; 
        margin: 0px;
        height: 120px;
        align-items: center;
    background-color: #262626;
     }
    
     .instagram { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/editinsta.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s; 
    }
    
    .instagram:hover { 
        background-image: url("../images/instagram\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer; 
     }
    
    
    .linkedIn { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/Edit\ linkedin.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px; 
    cursor: pointer;
    transition: 0.3s;
     }
    
    .linkedIn:hover { 
        background-image: url("../images/Linking\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer;
     }
    
    .gitHub { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/github.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .gitHub:hover { 
        background-image: url("../images/github\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer;
     }
    
    .email { display: flex;
        height: 25px;
        width: 25px;
        /**outline: 2px solid #363333;**/
        background-image: url("../images/editemail.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
     }
    
    .email:hover { 
        background-image: url("../images/Email\ color.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 15px;
        cursor: pointer;
    }
    
    
    body { background-color: #262626; }
    
    .cardcof { display: flex;
    width: 200px;
    height: 300px;
    outline: 2px solid darkgreen;
    border-radius: 40px;
    transform: rotate(35deg); 
    position: absolute;
    background-image: url("../images/cof.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;}
    
    .carddol { display: flex;
        width: 200px;
        height: 300px;
        outline: 2px solid darkblue;
        border-radius: 40px;
        transform: rotate(-45deg); 
    position: absolute;
    background-image:url("../images/dol.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;}
    
    
    .cardskz { display: flex;
        width: 200px;
        height: 300px;
        outline: 2px solid orange;
        border-radius: 40px;
        position: absolute;
        /**transform: rotate(45deg);**/ 
        background-image: url("../images/skilz.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    justify-self: center;
    }
    
    
    .Projectcard { display: flex;
    color: black;
    size: 10px; }


    @media only screen and (max-width: 1000px) {

        .sectionContents { 
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content:space-between;
        }

        #separatorLine { 
            display: flex;
            flex-direction: column;
            transform: rotate(90deg);
        }

        .buttonContainer { 
            display: flex; 
            margin-left: 200px;
            margin-top: 3px;
            margin-bottom: 30px;
        }

        #projectStackedcards { 

            margin: 0px;

        }
        #separatorLine { 

            margin: 20px;

        }   
        
        #logoImage { 

            margin: 0px;

        } 


nav h1 { color: #D9B344; 
    margin: 10px;
    cursor: pointer;
    height: 45px;
    }

.primaryNav { display: none;
    }

.burgerIcon {
    
    display: flex;

    }
    
         
     }
    
